/* Initial Setup */
html {
  box-sizing: border-box;
  }
*, 
*::before, 
*::after { 
  box-sizing: inherit;
}
:root {
    font-size: 62.5%
}
body {
  margin: auto;
  min-height: 100vh;
}

/* Splash image */
p{
  margin: 5px !important;
}
.fade {
  opacity: 0;
}
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;
  font-size: 5rem;
}
.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 102vh;
  background-color: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}
@keyframes fadeIn{
  to{
    opacity: 1;
  }
}
.fade-effect{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  font-family: 'Montserrat', sans-serif;
}

/* navbar*/
.nav-link{
  color: black !important;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}
/* navbar projects dropdown */
ul {
  padding: 0;
  list-style: none;
}
ul li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
ul li a {
  display: block;
  padding: 8px 25px;
  color: black;
  text-decoration: none;
}
ul li a:hover {
  color: black;
  text-decoration: none;
}
ul li ul.dropdown {
  width: 225px;
  background: white;
  display: none; 
  position: absolute;
  z-index: 999;
  left: 0;
}
ul li:hover ul.dropdown {
  display: block;
}
ul li ul.dropdown li {
  display: block;
  font-size: 1.4rem;
}
.dd{
  width: auto;
}


/* greeting card */
.greeting-card {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.name {
  text-align: center;
}
.fname {
  font-size: 6.5rem;
  font-family: 'Montserrat', sans-serif;
  padding: 2%;
}
.lname {
  font-size: 6.5rem;
  background-color: black;
  color: white;
  border-radius: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  padding: 2%;
}
.job-title {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 2%;
}
.container-one, .container-two {
  margin: 7px;
}
.container-two {
  width: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loopgif {
  width: 70%;
  position:relative;
}

/* ABOUT ME */
#about-me{
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding-bottom: 20px 0;
}
.title {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}
.description {
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.2;

}
.portrait {
  width: 40%;
  border-radius: 1%;
  position: relative;
}

/* PROJECTS */

/* #projects {

} */

/* Tilt */
#tilt{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  min-height: 100vh;

  padding: 20px 0;
}
.tilt-screenshot{
  width: 50%;
  border-radius: 1%;
  position: relative;
}

/* dnd */
#dnd{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px 0;
}
.dnd-screenshot{
  width: 50%;
  height: auto;
  border-radius: 1%;
  position: relative;
}

/* daybyday */
#daybyday{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  min-height: 100vh;
  padding: 20px 0;
}
.daybyday-screenshot{
  width: 50%;
  height: auto;
  border-radius: 1%;
  position: relative;
}

/* Slots */
#slots {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px 0;
}
.slots-screenshot{
  width: 50%;
  height: auto;
  border-radius: 1%;
  position: relative;
}

/* skills */
#skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.skill-container img{
  width: 8rem;
  height: 8rem;
  margin: 15px;
}
.skill-container li{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}
.skill-container h1{
  margin: 0 0 20px 0;
}

.skill-container .title{
  margin-top: 20px;
}

/* github buttons */
.buttons {
	overflow: hidden;
  margin: 10px 0;
}
.buttons > div {
	width: calc(50% - 40px);
	padding: 20px;
	float: left;
	position: fixed;
	bottom: 0;
	top: 0;
}
.buttons .dark {
	background: #000;
	left: 50%;
}
.buttons a {
	float: left; 
  margin: 0 5px;
}
a#link {position: absolute; left: 20px; bottom: 10px; text-decoration: none; color: #555; font-weight: bold;}
.btn,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-mid {
    border-radius: 0px;
    text-decoration: none;
    padding: 14px 21px;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-big {
    border-radius: 0px;
    text-decoration: none;
    padding: 18px 24px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}
.btn-dark,
input[type="submit"]{
    border:solid 2px #1f1f1f;
    background: transparent;
    color: #1f1f1f;
}
.btn-dark:hover,
input[type="submit"]:hover,
.btn-dark.active{
    border:solid 2px #1f1f1f;
    background: #1f1f1f;
    color: #fff;
}
.btn-color{
    background: transparent;
}
.btn-color:hover{
    color: #fff;
}

/* larger screen format */
@media only screen and (min-width: 960px) {
  /* greeting card */
  .greeting-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container-one {
    display: flex;
    flex-direction: column;
  }
  .name{
    display: flex;
    flex-direction: row;
    text-align:left
  }
  .fname{
    font-size: 7.5rem;
  }
  .lname{
    font-size: 7.5rem;
    background-color: black;
    color: white;
    border-radius: 1%;
    padding: 2%;
  }
  .job-title{
    font-size: 4rem;
    text-align: left;
  }
  .loopgif{
    position: relative;
    width: 70%;
  }
  /* about me */
  #about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  #about-me h1, p {
    margin: 10px;
  }
  #about-me .container-one {
    width: 55%;
    border-left: 2px solid white;
  }
  .portrait {
    width: 45rem;
    height: auto;
    border-radius: 1%;
    margin-top: 10px;
  }
  /* tilt */
  #tilt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #tilt .container-one {
    padding: 10px;
    border-left: 2px solid black;
    width: 55%;
  }
  .tilt-screenshot{
    width: 45rem;
    height: auto;
    border-radius: 1%;
    margin-top: 10px;
  }
  /* dnd */
  #dnd{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #dnd .container-one{
    padding: 10px;
    border-left: 2px solid white;
    width: 55%;
  }
  .dnd-screenshot{
    width: 45rem;
    height: auto;
    border-radius: 1%;
    margin-top: 10px;
  }
  /* daybyday */
  #daybyday{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #daybyday .container-one{
    padding: 10px;
    border-left: 2px solid black;
    width: 55%;
  }
  .daybyday-screenshot{
    width: 45rem;
    height: auto;
    border-radius: 1%;
    margin-top: 10px
  }
  /* slots */
  #slots{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #slots .container-one{
    padding: 10px;
    border-left: 2px solid white;
    width: 55%;
  }
  .slots-screenshot{
    width: 45rem;
    height: auto;
    border-radius: 1%;
    margin-top: 10px;
  }

  /* skills */
  #skills{
    width: 100%;
  }
  .skill-container{
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  /* arrow button */
}
